.main__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #121920;
}

@media (max-width: 1439px) {
    .d-main__title {
        display: none;
    }
}
